body {
		width: 1620px;
	    margin: 0 auto;
}

form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
   	align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
    flex-direction: column;
}

input {
	width: 300px;
	height: 30px;
	font-size:24px;
}

button {
	width: 200px;
	height: 36px;
	font-size:24px;
}

table {
    width: 100%;;
    height: 100%;
    border-collapse: collapse;
    empty-cells: show;
    border: 1px solid black;
    background-color: #e8eaeb;
    font: 8pt sans-serif;

}

td {
    border: 2px solid;
    border-color: #d1d1d1;
    background-color: white;
 
}
tr {
    border: 2px solid;
    border-color: #d1d1d1;
     
    background-color: #ABD2D4;
}
th {
    border: 2px solid;
    border-color: #dedede;
    font-weight: bold;
}
