body{
		background-color:#505050;
		margin-top:20px;		
	}

  #rectangle {
	width:1420px;
	height:137px;
	background: #909090;
	border-radius:10px; 
	box-shadow:10px 10px 10px;
	position: relative;
	margin: auto;
	z-index:2
}

.title {
	background:#909090; 
	width:425px;
	position: absolute;
	z-index:3
	margin-left:300px;
	margin-top:10px;
	padding-left:10px;
 }
  .loupe {
 	width:250px;
 	position: absolute;
 	z-index:6;
  	left:1140px;
 	top:15px;
  }
   .reload {
 	width:20px;
 	position: absolute;
 	top:10px; 
 	left:1390px;
 	z-index:5;
  }
   .close {
 	width:20px;
 	position: absolute;
 	top:110px; 
 	left:1390px;
 	z-index:5
  }
   .cluster {
   	position: absolute;
 	top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width:1000px;
  }

    #rectangle1 {
	width: 1020px;
	height: 582px;
	background: #909090;
	border-radius:10px; 
	box-shadow:10px 10px 10px;
	position: relative;

	margin: auto;
}
	#rectangle2 {
	width: 140px;
	height: 425px;
	background: #909090;
	border-radius:10px; 
	box-shadow:10px 10px 10px;
	position: absolute;
	left: -170px; top: 0;
	
}

	.arrow{
	width:70px;
 	position: absolute;
 	left:30px;
 	top:15px;
 	z-index:6;
	}

	.main{
	width:70px;
 	position: absolute;
 	left:30px;
 	top:95px;
 	z-index:6;
	}

	.oeil{
	width:70px;
 	position: absolute;
 	border: 5px solid red;
 	border-radius:3px; 
	left:28px;
 	top:170px;
 	z-index:6;
	}

	.outil{
	width:70px;
 	position: absolute;
	left:30px;
 	top:250px;
 	z-index:6;
	}

	.chat-icon{
	width:70px;
 	position: absolute;
	left:30px;
 	top:330px;
 	z-index:6;
	}
	#rectangle3 {
	width: 140px;
	height: 425px;
	background: #909090;
	border-radius:10px; 
	box-shadow:10px 10px 10px;
	position: absolute;
	right: -170px; top: 0;
	}

	.book{
	width:70px;
 	position: absolute;
 	left:35px;
 	top:20px;
 	z-index:6;
	}

	.towel{
	width:70px;
 	position: absolute;
 	left:35px;
 	top:125px;
 	z-index:6;
	}

	.brick{
	width: 120px;
	height: 70px;
	left:10px;
 	top:185px;
 	position: absolute;
 	background-image: url(resources/brick.jpg);
 
 	z-index:7;
	}

	#rectangle4 {
	width: 520px;
	height: 160px;
	background: #88FF89;
	border-radius:10px; 
	box-shadow:10px 10px 10px;
	position: relative;
	left: -250px; top: 508px;
	z-index:6;
	}
	.text {
		left:10px;
 		top:0px;
 		position: absolute;
		font-size: 12pt;
		font-family: Verdana;
		}
	form{
		left:10px;
 		top:90px;
 		position: absolute;
	}
	button{
		font-size: 9pt;
		width: 80px;
		border-radius: 0;
		background-color: #E6E6E6;
		border: 0.05px solid #9A9C9B;
		font-family: Verdana;
	}

	#input {
		width: 380px;
		border: 2px solid;
		border-top-color:#9A9C9B;
		border-bottom-color:#EEEEEE;
		border-right-color:#EEEEEE;
		border-left-color:#9A9C9B;
	}

	.entrez {
		font-size: 21pt;
	}
	.italics {
		font-style: italic;
	}
	.shadow {
		text-shadow: 4px 4px 4px red;
		z-index:8;
	}

